fastapi
sqlalchemy
pydantic
pydantic-settings
passlib
python-jose[cryptography]
aiosmtplib
httpx
email-validator
python-dotenv
uvicorn
pika
slowapi
boto3
passlib[bcrypt]
python-multipart
alembic
psycopg2-binary
requests
melo
git+https://github.com/myshell-ai/OpenVoice.git
qdrant-client
tqdm
PyPDF2
pdfplumber
fal-client
groq
langchain
langchain-groq
langchain-core
PyMuPDF
spacy
numpy<2